[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
kafka-python = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
mypy = "*"
pydocstyle = "*"

[requires]
python_version = "3.8"
